// 主色
$color-primary: #2a3962;
// 激活色
$color-actived: #396fff;
// 灰色字体
$color-gray: #999999;
// 边框色
$color-border: #f2f2f2;
@import "~@/assets/iconfont/iconfont.css";
@import "~@/assets/style/views/animate.scss";
.ivu-icon-ios-calendar-outline {
    &::before {
        content: "\F116";
    }
}

.ivu-input {
    border: 1px solid #fff;
    color: $color-primary;
}

.ivu-select-selection {
    border: 1px solid #fff;
}

.ivu-select-input {
    color: $color-primary;
}

.ivu-input-icon {
    color: $color-gray;
}

.ivu-btn {
    height: 1.8rem;
    line-height: 0.8rem;
    width: 3.6rem;
    border-radius: 16px;
    color: $color-primary;
    border: 1px solid $color-actived;
}

//表格样式
#table_container {
    position: relative;
    .table_title {
        width: 100%;
        height: 40px;
        line-height: 35px;
        border-bottom: 1px solid $color-border;
        margin-bottom: 1rem;
        .table_title_s {
            height: 19px;
            line-height: 19px;
            font-size: 14px;
            color: $color-primary;
            font-family: MicrosoftYaHei;
        }
    }
    .ivu-table-cell {
        padding-left: 10px;
        span {
            height: 12px;
            font-size: 12px;
            font-family: MicrosoftYaHei-Bold;
            color: rgba(102, 102, 102, 1);
            line-height: 12px;
        }
    }
}

tr.ivu-table-row-hover td {
    background-color: #F2F6FF; // filter: Alpha(opacity=10);
    // opacity: 0.1;
}

// 表格内部样式修改
.ivu-table-wrapper {
    border-left: 0;
    border-top: 1px solid $color-border;
}

.ivu-table-border td,
.ivu-table-border th {
    border-right: 0;
}

.ivu-table td {
    border-bottom: 1px solid $color-border;
}

.ivu-table th {
    text-align: left;
    border-bottom: 1px solid $color-border;
    background-color: #fafafa;
}

.ivu-table {
    &::before {
        background-color: $color-border;
    }
    &::after {
        background-color: #fff;
    }
}

.ivu-table-row td {
    height: 40px;
    text-align: left;
}

// 分页器内部样式修改
.ivu-page-item-jump-next,
.ivu-page-item-jump-prev,
.ivu-page-next,
.ivu-page-prev {
    min-width: 24px;
    height: 24px;
    line-height: 20px;
    border-radius: 2px;
    text-align: center;
    margin-right: 1px;
}

.ivu-page-item {
    min-width: 24px;
    height: 24px;
    margin-right: 0;
    line-height: 24px;
    text-align: center;
    border-radius: 2px;
}

.ivu-page-options {
    margin-left: 0;
}

.ivu-page-options-elevator input {
    width: 40px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid rgba(242, 242, 242, 1);
}

.ivu-menu-vertical .ivu-menu-item,
.ivu-menu-vertical .ivu-menu-submenu-title {
    padding: 18px 30px;
}

// 分页样式
.table_page {
    margin-top: 1rem;
    overflow: hidden;
    padding-bottom: 3rem;
    .table_page_l {
        float: left;
        p {
            float: left;
            width: 130px;
            height: 12px;
            font-size: 12px;
            font-family: MicrosoftYaHei;
            color: rgba(153, 153, 153, 1);
            line-height: 12px;
            margin-top: 9px;
            span {
                font-weight: bold;
            }
        }
    }
    .table_page_r {
        float: right;
        .ivu-page {
            float: left;
        }
        .ivu-page-item-active {
            border-color: #fff;
            background-color: $color-actived;
        }
        .ivu-page-item {
            border: 0;
        }
        .ivu-page-item-active a,
        .ivu-page-item-active:hover a {
            color: #fff;
        }
    }
}

//搜索框
.ivu-input {
    height: 30px;
    border-radius: 16px;
}

//券进度条修改
.ivu-progress-inner {
    background-color: #fff;
}

.ivu-progress-bg {
    background-color: $color-actived;
    opacity: 0.4;
}

.ivu-progress-wrong .ivu-progress-bg {
    background-color: $color-border;
}

.ivu-progress {
    width: 76%;
}

.ivu-progress-outer {
    width: 95%;
}

.content p span {
    float: left;
}

.ivu-modal-footer>button {
    border: 1px solid rgba(57, 111, 255, 1);
    width: 96px;
    height: 32px;
    margin-right: 1rem;
}

.ivu-btn-primary {
    background-color: $color-actived;
    color: #fff;
}

.ivu-btn-primary:hover {
    background-color: #396FFF;
}

.ivu-btn-text:hover {
    border: 1px solid $color-actived;
}

.ivu-btn-text span {
    color: $color-actived;
}

.ve-histogram {
    top: 0 !important;
}

//下载按钮
.export {
    cursor: pointer;
    font-size: 24px;
    color: $color-actived;
    float: right;
}

//弹框样式修改
.filtrate {
    margin-bottom: 1rem;
    .filtrate_s {
        width: 48px;
        height: 16px;
        font-size: 12px;
        font-family: MicrosoftYaHei;
        color: rgba(42, 57, 98, 1);
        line-height: 16px;
        padding-right: 2rem;
        vertical-align: top;
    }
    .filtrate_m {
        width: 294px;
        display: inline-block;
        margin-top: -0.4rem;
    }
}

.ivu-checkbox-group {
    margin-bottom: 1rem;
}

.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ivu-modal-header p,
.ivu-modal-header-inner {
    width: 112px;
    height: 14px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: rgba(42, 57, 98, 1);
    line-height: 14px;
}

.time_chance {
    display: inline-block;
    width: 48px;
    height: 16px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(42, 57, 98, 1);
    line-height: 16px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ivu-modal-header {
    padding: 18px 16px;
    margin-bottom: 1rem;
}

.ivu-checkbox-checked .ivu-checkbox-inner {
    border-color: $color-actived;
    background-color: $color-actived;
}

//新建按钮样式
.action_container {
    .new_action {
        margin-bottom: 1rem;
        width: 72px;
        height: 24px;
        background: rgba(57, 111, 255, 1);
        border-radius: 12px;
        border: 0;
        outline: 0;
        color: #ffffff;
        cursor: pointer;
        .ivu-icon {
            width: 16px;
            height: 14px;
            font-weight: 600;
        }
    }
}

.action {
    margin-bottom: 1.5rem;
    .ivu-input-number {
        width: 247px;
    }
    .action_name {
        width: 48px;
        height: 16px;
        font-size: 12px;
        font-family: MicrosoftYaHei;
        color: rgba(42, 57, 98, 1);
        line-height: 16px;
        padding-right: 2rem;
    }
    input {
        width: 296px;
        height: 32px;
        border-radius: 4px;
        padding-left: 0.5rem;
        border: 1px solid rgba(242, 242, 242, 1);
        &::placeholder {
            color: #c5c8ce;
        }
    }
    .ivu-date-picker-rel {
        width: 296px;
    }
}

.ivu-select-selection-focused,
.ivu-select-selection:hover {
    border-color: #fff;
}

.ivu-modal-footer {
    border-top: 0;
    padding: 0px 24px 32px 0;
}

.ivu-table-cell {
    padding-left: 14px;
    padding-right: 0px;
}

.indicators_dimension {
    font-weight: bold;
}

.allocation_tabs .ivu-tabs-ink-bar {
    width: 56px !important;
    background-color: $color-actived;
}

.ivu-tabs-nav-scroll {
    height: 41px;
}

.ivu-tabs-nav .ivu-tabs-tab {
    padding: 10px 1px;
}

.ivu-tabs-nav .ivu-tabs-tab-active {
    color: $color-actived;
    font-weight: bold;
}

.ivu-checkbox-checked .ivu-checkbox-inner {
    border-color: $color-actived;
    background-color: $color-actived;
}

.ivu-tabs-bar {
    border-bottom: 1px solid $color-border;
}

.ivu-tabs-nav .ivu-tabs-tab:hover {
    border-color: $color-actived;
}

.ivu-row {
    float: left;
}

.allocation-time {
    float: right;
    margin-top: -3.5rem;
    .ivu-input {
        color: #1E2538;
        font-size: 12px;
    }
}

.allocation_tabs .ivu-date-picker-rel input {
    width: 180px;
}

.allocation_tabs .ivu-date-picker-rel .ivu-input-icon {
    right: -70px;
}

//表格对齐
.ivu-table td.demo-table-info-column {
    background: #fafafa;
    .ivu-table-cell {
        text-align: center !important;
    }
}

.ivu-table td.overview-table-right {
    .ivu-table-cell {
        text-align: right !important;
    }
}

.ivu-table th.activity-table-right {
    text-align: right !important;
    padding-right: 15px;
}

.ivu-table td.activity-table-right .ivu-table-cell {
    text-align: right !important;
    padding-right: 15px;
}