@import "~@/assets/style/public.scss";
.filterBox {
  margin: 1.2rem 0 0 0;
  padding-bottom: 1rem;
  width: 100%; //   box-shadow:0px 2px 4px 0px rgba(221,221,221,0.5);
  .inline-content {
    padding-left: 1rem;
    height: 45px;
    box-shadow: 0px 2px 4px 0px rgba(221, 221, 221, 0.5);
  }
  h3 {
    padding-left: 1rem;
    color: $color-primary;
  }
  .inline-content {
    display: flex;
    padding-top: 0.5rem;
    .inline-item {
      margin-right: 1rem;
      span {
        color: $color-gray;
      }
      .filter-date-picker {
        width: 10rem;
      }
      .filter-select {
        width: 5rem;
      }
    }
  }
}

p {
  span {
    display: inline-block;
    cursor: pointer;
    width: 2.75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .btn-left {
    color: $color-actived;
    border: 1px solid $color-actived;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
  }
  .btn-right {
    color: $color-actived;
    border: 1px solid $color-actived;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
  .actived {
    background: $color-actived;
    color: #fff;
  }
}

.ivu-input {
  border: 1px solid #fff;
}

.ivu-select-selection {
  border: 1px solid #fff;
}
