@import '~@/assets/style/public.scss';
.filterBox {
  margin: 24px 0 -13px 0;
  padding-bottom: 1rem;
  width: 100%; //   box-shadow:0px 2px 4px 0px rgba(221,221,221,0.5);
  .inline-content {
    padding-left: 24px;
    height: 60px;
    box-shadow: 0px 2px 4px 0px rgba(221, 221, 221, 0.5);
  }
  .filter-title {
    width: 64px;
    height: 16px;
    line-height: 16px;
    padding-left: 24px;
    font-size: 16px;
    color: $color-primary;
    padding-right: 8px;
    font-family: MicrosoftYaHei;
  }
  .filter-mark {
    display: inline-block;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 17px;
    opacity: 0.99;
    color: #CCCCCC;
    text-align: center;
    border: 1px solid rgba(204, 204, 204, 1);
  }
  .inline-content {
    display: flex;
    padding-top: 16px;
    .inline-item {
      margin-right: 1rem;
      span {
        color: $color-gray;
      }
      .filter-date-picker {
        width: 50%;
        ;
      }
      .filter-select {
        width: 5rem;
      }
    }
  }
}

p {
  span {
    display: inline-block;
    cursor: pointer;
    width: 2.75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .btn-left {
    color: $color-actived;
    border: 1px solid $color-primary;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
  }
  .btn-middle {
    color: $color-actived;
    border: 1px solid $color-primary;
  }
  .btn-right {
    color: $color-primary;
    border: 1px solid $color-primary;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
  .actived {
    background: $color-primary;
    color: #fff !important;
  }
}

.ivu-input {
  border: 1px solid #fff;
}

.ivu-select-selection {
  border: 1px solid #fff;
}