@import '~@/assets/style/public.scss';
.filterBox {
  margin: 1.2rem 0 0 0.4rem;
  padding-bottom: .3rem;
//   box-shadow:-2px 2px 4px 0px rgba(221,221,221,0.5);
  h3 {
    color: $color-primary;
  }
  .inline-content {
    display: flex;
    padding-top: .5rem;
    .inline-item {
      margin-right: 1rem;
      span {
        color: $color-gray;
      }
     .filter-date-picker {
        width: 10rem;
     }
     .filter-select {
       width: 5rem;
     }
    }
  }
}

.ivu-input{
  border: 1px solid #fff;
}

.ivu-select-selection {
  border: 1px solid #fff;
}