@import '~@/assets/style/public.scss';

a {
  color: $color-primary;
}

.layout {
  position: relative;
  overflow: hidden;
}

.ivu-menu {
  height: 100%;
}

.layout-logo {
  float: left;

  img {
    width: 104px;
    height: 42px;
    margin: 0.8rem 0 0 3.5rem;
  }

  .logo-name {
    width: 104px;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: FZZDHJW--GB1-0;
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
    position: relative;
    top: 18px;
  }
}

.ivu-menu {
  color: $color-primary;
}

.ivu-menu-light {
  padding-top: 16px;
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  color: $color-actived;
  background: rgba(255, 255, 255, 1);

  &::after {
    width: 1px;
    background: #dee0e4;
  }
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item {
  &::after {
    content: '';
    display: block;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #dee0e4;
  }
}

.ivu-menu-dark {
  background: $color-primary;
}

.layout-nav {
  margin: 0 auto;
  margin-right: 20px;
  padding-left: 12.5rem;
}

.ivu-layout-header {
  width: 100%;
  height: 72px;
  line-height: 72px;
  background: rgba(42, 57, 98, 1);
  padding: 0;
  background: $color-primary;
}

.ivu-layout-header .ivu-dropdown {
  width: 104px;
  height: 72px;
  line-height: 72px;
  font-size: 14px;
  padding: 4px;
  background: #2a3962;
  float: right;
  text-align: center;
  box-sizing: border-box;

  .ivu-dropdown-rel a {
    color: rgba(255, 255, 255, 1);
    opacity: 0.88;
    font-size: 12px;
  }
}

.yayout_bbg {
  color: rgba(255, 255, 255, 1);
  width: 115px;
  height: 72px;
  line-height: 72px;
  float: right;
  text-align: center;
  font-size: 12px;
  margin-right: .5rem;
  margin-top: .3rem;
  opacity: 0.88;
}

.ivu-layout {
  background: rgba(255, 255, 255, 1);
}

.ivu-menu-vertical .ivu-menu-item {
  &:hover {
    color: $color-actived;
  }
}

.ivu-menu-horizontal .ivu-menu-item,
.ivu-menu-horizontal .ivu-menu-submenu {
  padding: 0 14px;
}

.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item,
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu {
  width: 104px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  padding: 4px;
}

.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item-active,
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item:hover,
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu-active,
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu:hover {
  padding: 0;
  background: rgba(57, 111, 255, 0.2187);
  border-top: 4px solid #396FFF;
}

.ivu-date-picker-rel {
  width: 100px;
}

.ivu-input:hover {
  border-color: rgba(255, 255, 255, 1);
}